body{background-color: rgb(241, 230, 230);}
h1{
    font-size: 40px;
    margin-bottom: 20px;
}
h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
h1, h2, h3{
    color: green;
}

.main-text{
    text-align: justify;
    margin-bottom: 20px;
}
.author-text{
    font-size: 22px;
}
.container{
    width: 1140px;
    margin: 20px auto 0 auto;
}
.blog-post{
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}
.other-post{
    width: 25%;
    float: left;
}
.author-box{
    padding-top: 20px;
    border-top: 1px solid #808080;
}
.other{
    margin-bottom: 40px;
}
.author-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}
.blog-post img{
    height: 150px;
    width: auto;
}
.date{
    position: absolute;
    top: 10px;
    right: 30px;
}
table,td,th{ 
    border:3px solid black;
    border-collapse:collapse;
}
th,td{	
padding:3px;
color:rgb(23, 13, 13);
}
th{
text-align:center; 
background-color:rgb(4, 56, 14);

}
